.degreeContainer {
    align-self: flex-start;
    position: relative;
    left: -25px;
    bottom: 35px;
}

.degreeContainer > ul {
    height: 180px;
    overflow: auto;
    list-style: none;
}

.degreeContainer > ul > li {
    position: relative;
}

.degreeItem {
    height: 110px;
    width: 270px;
    background-color: white;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-bottom: 3px;
}

.degreeItem > * {
    position: relative;
    margin-bottom: -20px;
}

.schoolDateDisplay {
    display: flex;
    margin-bottom: -40px;
}

.degreeDelete {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
}

.degreeEdit {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.degreeEdit > img {
    width: 200%;
    height: auto;
}

.schoolStart {
    margin-right: 10px;
}