.jobContainer {
    width: 45%;
    height: 81%;
    overflow: hidden;
    position: relative;
    align-self: flex-start;
    display: flex;
    padding: 0;
}

.jobContainer > ul {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.jobItem {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 100%;
    min-height: 150px;
    overflow: auto;
    background-color: white;
    margin-bottom: 3px;
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
    align-self: flex-start;
}

.jobDelete {
    height: 25px;
    width: 25px;
    background-color: red;
    color: white;
    border-radius: 4%;
    position: absolute;
    top: 0;
    right: 0;
}

.jobEdit {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

.jobEdit > img {
    width: 200%;
    height: auto;
}

.companyAndTitle {
    display: flex;
    margin-bottom: -35px;
}

.companyAndTitle > * {
    align-self: flex-end;
}

.workInfo {
    display: flex;
    flex-direction: column;
}

.dates {
    display: flex;
    margin-bottom: -28px;
}

.roleDescr {
    width: 260px;
    height: auto;
    overflow-wrap: normal;
}