* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.resumeBuilder {
    display: flex;
}

.personalAndDegrees {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
}

header > div {
    display: flex;
}

.jobAdd {
    display: flex;
    flex-direction: column;
}

.personalHeading {
    position: absolute;
    top: -5%;
}

header > button {
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

header > button > img {
    width: 34px;
    height: auto;
}
     
.namePlate {
    position: absolute;
    left: 5%;
    top: 20%;
}

.addressPlate {
    position: absolute;
    left: 50%;
    top: 20%;
}

.phonePlate {
    position: absolute;
    left: 5%;
    bottom: 30%;
}

.emailPlate {
    position: absolute;
    left: 53%;
    bottom: 30%;
}

.aboutMePlate {
    position: absolute;
    left: 5%;
    top: 60%;
}

.personalDescr {
    max-width: 400px;
    word-wrap: break-word;
    position: absolute;
    top: 30%;
}

.workDiv {
    position: relative;
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 15px;
    height: 507px;
    width: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40px;
    padding-left: 0.3%;
    overflow: auto;
    margin-bottom: 4%;
}

.addItemButton {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    color: gold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.educationDiv {
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 15px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header, .workDiv, .educationDiv {
    margin-bottom: 8px;
    margin-right: 8px;
}

#nameForm {
    position: absolute;
}

.divHeader {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 10px;
    left: 15px;
}

.jobAdd {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
}

#eduHeader {
    left: -3px;
}